/*------------------- Custom reset ------------------- */
h1, h2, h3, h4, h5, h6, a, p, ul, li, hr {
	margin: 0;
	padding: 0;
}
button, input, textarea{
	outline: none;
}
ul li{
	list-style: none;
}
/* ------------------- Custom reset ------------------- */

body {
	background-color: #8c8c8c;
}
header {
	background: url('../images/header_footer/header-footer.jpg') no-repeat;

}
header h1{
	margin: 5% 0 5px;
	color: white;
}
.btn{
	float: right;
	padding-right: 0;
}
.btn button{
	font-size: 20px;
	font-weight: bold;
	border: 0;
	border-radius: 4px;
	background-color: #e7e7e7;
	margin-top: 25px;
}
.btn button:hover{
	background-color: #cccccc;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-navigation {
	background: #2b3038;
	
}
.main-navigation ul {
	text-align: center;
}
.main-navigation ul li {
	display: inline-block;
}
.main-navigation ul li:hover{
	background: grey;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-navigation ul li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 20px 10px;
}
.content{
	background-color: white;
	margin: 10px 0;
	border-radius: 20px;
	padding: 10px;
}
.row{
	padding: 0;
	margin: 0;
}
.col-md-4{
	padding: 0;
	background-color: #2b3038;
	border: none;
	border-right: solid 1px #8c8c8c;
	border-radius: 6px;
	border-color: white;
	text-align: center;
}
.articles{
	color: white;
}
#last-child{
	border:none;
}
.articles article{
	position: relative;
}
.articles article .hover{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.articles article .hover button{
	color: #21252b;
	font-size: 15px;
	font-weight: bold;
	border: 0;
	border-radius: 4px;
	background-color: #e7e7e7;
	margin-top: 12%;
	filter: alpha(opacity=0)
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)
	-moz-opacity: 0;
	-webkit-opacity: 0;
	opacity:0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}
.articles article:hover .hover{
	background:rgba(43, 48, 56, 0.8);
	border-radius: 6px;
}
.articles article:hover button{
	filter: alpha(opacity=100)
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100)
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity:1;
}
footer{
	background: url('../images/header_footer/header-footer.jpg') no-repeat;
	margin: 10px 0 0;

}
.footer .col-md-4{
	background: transparent;
	border: none;
}
.container .map{
	font-size: 15px;
	color: white;
	margin-top: 10px;
	float: left;
	text-align: left;
}
.map span{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}
.map ul{
	margin-top: 10px;
}
.map ul li{
	margin-top: 5px;
	list-style: none;
}
.map ul li a{
	text-decoration: none;
	color: white;
}
.container .info{
	margin-top: 10px;
	color: white;
}
.info span{
	font-weight: bold;
	font-size: 20px;
}
.autor{
	margin-top: 30px;
	color: white;
}
.ime{
	font-weight: bold;
	padding-right: 20px;
	border-right: 1px solid white;
}
.autorska_prava{
	font-style: italic;
	font-size: 12px;
	padding-left: 20px;
}
.ikonice{
	margin-top: 95px;
	float: right;
}
.ikonice img{
	width: 30px;
	height: 30px;
}.ikonice ul{
	list-style: none;
}
.ikonice ul li{
	display: inline-block;
}
/* ------------------- Pocetna strana ------------------- */
.pocetna-content .text{
	text-align: justify;
}
.pocetna-content .text h2{
	text-align: center;
}
.pocetna-content .slika1{
	margin-top: 50px;
	float: right;
}
.pocetna-content .slika2{
	float: left;
	margin-top: 30px;
	padding-right: 30px;
}
.pocetna-content .slika3{
	float: right;
}
/* ------------------- Pocetna strana ------------------- */
/* ------------------- Bluetooth ------------------- */
.bt-content .slika1, .bt-content .slika2{
	text-align: center;
}
.bt-content .slika1 img{
	height: 250px;
}
.bt-content .text1, .bt-content .text2{
	text-align: justify;
}
/* ------------------- Bluetooth ------------------- */
/* ------------------- 3G ------------------- */
.g3-content .slika1{
	text-align: center;
}
.g3-content .slika1 img{
	width: 300px;
}
.g3-content .text1{
	text-align: justify;
}
/* ------------------- 3G ------------------- */
/* ------------------- wifi ------------------- */
.wifi-content .slika1{
	text-align: center;
}
.wifi-content .slika1 img{
	height: 200px;
}
.wifi-content .text1 p{
	padding-top: 10px;
	text-align: justify;
}
/* ------------------- wifi ------------------- */
/* ------------------- wimax ------------------- */
.wimax-content .slika1{
	float: left;
}
.wimax-content .text1{
	text-align: justify;
	padding: 10px;
	width: 800px;
	display: inline-block;
}
/* ------------------- wimax ------------------- */
/* ------------------- wireless ------------------- */
.wireless-content .text{
	padding: 10px;
	text-align: justify;
}
.wireless-content .slika1, .slika2, .slika3{
	text-align: center;
}
.wireless-content .slika1 img{
	width: 850px;
	border-radius: 20px;
}
.wireless-content .slika2 img{
	width: 700px;
	border-radius: 20px;
}
.wireless-content .slika3 img{
	width: 500px;
	border-radius: 20px;
}
/* ------------------- wireless ------------------- */
/* ------------------- Kontakt ------------------- */
.contact h1{
	text-align :center;
	margin: 27px 0 5px;
}
.contact-content{
	text-align: center;
	background-color: white;
	
}
.contact-content p{
	color: #010101;
	font-size: 12px;
	font-style: italic;
	padding: 5% 36% 0;
	margin-bottom: 15px;
}
.contact-content form{
	padding-bottom: 55px;
}
form .form-element{
	background-color: #ecf0f3;
	width: 35%;
    height: 50px;
    margin-bottom: 15px;
    padding: 4px 0 0 25px;
    border: 2px solid transparent;
    border-radius: 10px;
}
form .txarea{
	max-width: 35%;
	min-height: 200px;
	padding: 15px 0 0 25px;
}
form .form-button{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	border: 0;
	border-radius: 4px;
	background-color: #2b3038;
	width: 35%;
	height: 40px;
	margin-top: 15px;
}
form .form-element:focus{
	border: 2px solid #d9d9d9;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
form .form-button:hover{
	background-color: #1a1a1a;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#map1 {
		
        height: 400px;
        width: 100%;
       }
/* ------------------- Kontakt ------------------- */

/* ------------------- O nama ------------------- */
.onama-content{
	background-color: white;
	margin: 10px 0;
	border-radius: 20px;
	padding-bottom: 50px;
}
#accordion {
	background-color: transparent;
	margin: auto;
	padding: 30px 0;
	width: 600px;
}
#accordion .header{
	cursor: pointer;
	margin: 50px 0 0;
	color: #fff;
	width: 300px;
	border: none;
	outline: none;
	background-color: grey;
	border-radius: 20px;
	
}
#accordion #jelena-head{
	margin-left: 298px;
	padding-left: 15px;

}
.col-xs-6{
	padding-left: 0;
}
.header img{
	float: left;
	position: absolute;
	margin: 0;
	border-radius: 100px;
	border-right: none;
	margin-top: -23px;
	margin-left: -1px;		
}
#jelena-head img{
	margin-left: -3px;
	float: right;
	
	border-left: none;
}
.header h3{
	margin: 3px 0 2px 0;
}
#mladen{
	margin-left: 17px;
}
.sadzaj{
	color: #737373;
	margin-left: 23px;
	padding: 20px;
	font-size: 10pt;
	line-height: 16pt;
	background-color: #ecf0f3;
	border-radius: 20px;
	width: 475px;
}
#jelena-text{
	margin: 0;
	margin-left: 100px;
}
#map {
		border-radius: 20px;
        height: 400px;
        width: 100%;
       }
/* ------------------- O nama ------------------- */

/* ------------------- 5G ------------------- */
.container .eksterno{
	text-align: center;
}
.cg5 .slika1{
	float: left;
}
.cg5 .text1 .p1{
	padding: 10px;
	width: 900px;
	display: inline-block;
	text-align: justify;
}
.cg5 .content .slika2{
	text-align: center;
	margin-top: 10px;
}
.cg5 .content .slika2 img{
	border-radius: 20px;
	width: 500px;
}
.cg5 .text2{
	margin-top: 10px;
	text-align: center;
}
/* ------------------- 5G ------------------- */

/* ------------------- unify ------------------- */
.uf .slika1 img{
	border-radius: 20px;
	float: right;
	width: 500px;
}
.uf .text1 .p1{
	padding: 10px;
	width: 600px;
	display: inline-block;
	text-align: justify;
}
.uf .text2 .p2{
	padding: 10px;
}
.uf .text3 .p3{
	text-align: center;
}
.uf .slika3{
	text-align: center;
}
.uf .text4 .p4{
	text-align: center;
}
/* ------------------- unify ------------------- */
/* ------------------- 4G ------------------- */
.cg4 .slika1 {
	text-align: center;
}
.cg4 .slika1 img{
	width: 500px;
}
.cg4 .text1{
	text-align: justify;
}
.cg4 .slika2 {
	padding: 5px;
	float: left;
}
.cg4 .slika2 img{
	height: 400px;
	border-radius: 20px;
}
.cg4 .text2 {
	padding: 80px 10px;
	display: inline-block;
	width: 800px;
	text-align: justify;
}
.cg4 .text3{
	text-align: justify;
}
/* ------------------- 4G ------------------- */